<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dashboard - Gestão OS</title>


    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>
<div class="wrapper">
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="main-panel">
        <div th:replace="~{/fragments/main-header.html :: main-header}"></div>


        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Dashboard</h3>
                </div>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="card card-stats card-round">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-icon">
                                        <div class="icon-big text-center icon-primary bubble-shadow-small">
                                            <i class="fas fa-cogs"></i>
                                        </div>
                                    </div>
                                    <div class="col col-stats ms-3 ms-sm-0">
                                        <div class="numbers">
                                            <p class="card-category">Ordens de Serviço Registradas</p>
                                            <h4 class="card-title" th:text="${qtdServicos}">Serviços</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="card card-stats card-round">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-icon">
                                        <div class="icon-big text-center icon-success bubble-shadow-small">
                                            <i class="far fa-check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col col-stats ms-3 ms-sm-0">
                                        <div class="numbers">
                                            <p class="card-category">Ordens de Serviço Atendidas</p>
                                            <h4 class="card-title">5</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço no Ano</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço por Mês</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="barChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal para o gráfico de linha -->
                    <div class="modal fade" id="lineChartModal" tabindex="-1" aria-labelledby="lineChartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="lineChartModalLabel">Editar Gráfico de Linha</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="lineChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 542,480,430)">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="updateLineChart()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para o gráfico de barras -->
                    <div class="modal fade" id="barChartModal" tabindex="-1" aria-labelledby="barChartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="barChartModalLabel">Editar Gráfico de Barras</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="barChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 3,2,9)">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="updateBarChart()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                </div>
            </div>
        </div>
    </div>

<div th:replace="~{/fragments/footer.html :: footer}"></div>


</div>



<!--   Core JS Files   -->
<script src="../assets/js/core/jquery-3.7.1.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<!-- Chart JS -->
<script src="../assets/js/plugin/chart.js/chart.min.js"></script>
<!-- jQuery Scrollbar -->
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Kaiadmin JS -->
<script src="../assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="../assets/js/setting-demo2.js"></script>
<script>
    var lineChart = document.getElementById("lineChart").getContext("2d"),
        barChart = document.getElementById("barChart").getContext("2d");


    var myLineChart = new Chart(lineChart, {
        type: "line",
        data: {
            labels: [
                "Jan",
                "Fev",
                "Mar",
                "Abr",
                "Mai",
                "Jun",
                "Jul",
                "Ago",
                "Set",
                "Out",
                "Nov",
                "Dez",
            ],
            datasets: [
                {
                    label: "Ordens de Serviço",
                    borderColor: "#1d7af3",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#1d7af3",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    borderWidth: 2,
                    data: [
                        542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900,
                    ],
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: "bottom",
                labels: {
                    padding: 10,
                    fontColor: "#1d7af3",
                },
            },
            tooltips: {
                bodySpacing: 4,
                mode: "nearest",
                intersect: 0,
                position: "nearest",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 10,
            },
            layout: {
                padding: {left: 15, right: 15, top: 15, bottom: 15},
            },
        },
    });

    loadLineChart();

    var myBarChart = new Chart(barChart, {
        type: "bar",
        data: {
            labels: [
                "Jan",
                "Fev",
                "Mar",
                "Abr",
                "Mai",
                "Jun",
                "Jul",
                "Ago",
                "Set",
                "Out",
                "Nov",
                "Dez",
            ],
            datasets: [
                {
                    label: "Ordens de Serviço",
                    backgroundColor: "rgb(23, 125, 255)",
                    borderColor: "rgb(23, 125, 255)",
                    data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true,
                        },
                    },
                ],
            },
        },
    });









    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    //myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

    // bind onClick event to all LI-tags of the legend
    //var legendItems = myLegendContainer.getElementsByTagName("li");
    //for (var i = 0; i < legendItems.length; i += 1) {
        //legendItems[i].addEventListener("click", legendClickCallback, false);
    //}



        // Função para atualizar o gráfico de rosquinha
    function updateDoughnutChart() {
    const inputData = document.getElementById("doughnutChartData").value;
    const dataArray = inputData.split(',').map(Number);

    myDoughnutChart.data.datasets[0].data = dataArray;
    myDoughnutChart.update();
    }

    function loadLineChart() {
        fetch("/api/servicos/servicos-ano-corrente")
            .then((response) => response.json())
            .then((data) => {
                myLineChart.data.datasets[0].data = data;
                myBarChart.data.datasets[0].data = data;
                myLineChart.update();
                myBarChart.update();
            });
    }
</script>
</body>
</html>