<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dashboard - Gestão OS</title>


    <div th:replace="~{/fragments/heads.html :: heads}"></div>

</head>
<body>
<div class="wrapper">
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="main-panel">
        <div th:replace="~{/fragments/main-header.html :: main-header}"></div>


        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Dashboard</h3>
                </div>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Ordens de Serviço Registradas</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Ordens de Serviço Atendidas</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Ordens de serviço finalizadas</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Ordens de Serviço Atrasadas</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço no Ano</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="lineChart"></canvas>
                                </div>
                                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#lineChartModal">
                                    Editar Gráfico de Linha
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço por Mês</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas id="barChart"></canvas>
                                </div>
                                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#barChartModal">
                                    Editar Gráfico de Barra
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço por Setor</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas
                                            id="pieChart"
                                            style="width: 50%; height: 50%"
                                    ></canvas>
                                </div>
                                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#pieChartModal">
                                    Editar Gráfico de Pizza
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Ordens de Serviço por Setor</div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container">
                                    <canvas
                                            id="doughnutChart"
                                            style="width: 50%; height: 50%"
                                    ></canvas>
                                </div>
                                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#doughnutChartModal">
                                    Editar Gráfico de Rosquinha
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para o gráfico de linha -->
                    <div class="modal fade" id="lineChartModal" tabindex="-1" aria-labelledby="lineChartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="lineChartModalLabel">Editar Gráfico de Linha</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="lineChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 542,480,430)">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="updateLineChart()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para o gráfico de barras -->
                    <div class="modal fade" id="barChartModal" tabindex="-1" aria-labelledby="barChartModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="barChartModalLabel">Editar Gráfico de Barras</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="barChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 3,2,9)">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="updateBarChart()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para o gráfico de pizza -->
                <div class="modal fade" id="pieChartModal" tabindex="-1" aria-labelledby="pieChartModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="pieChartModalLabel">Editar Gráfico de Pizza</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" id="pieChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 20, 30, 50)">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary" onclick="updatePieChart()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para o gráfico de rosquinha -->
                <div class="modal fade" id="doughnutChartModal" tabindex="-1" aria-labelledby="doughnutChart" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="doughnutChartModalLabel">Editar Gráfico de Rosquinha</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" id="doughnutChartData" class="form-control" placeholder="Digite os dados separados por vírgula (ex: 20, 30, 50)">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary" onclick="doughnutChart()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
        <div th:replace="~{/fragments/footer.html :: footer}"></div>
    </div>


</div>



<!--   Core JS Files   -->
<script src="../assets/js/core/jquery-3.7.1.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<!-- Chart JS -->
<script src="../assets/js/plugin/chart.js/chart.min.js"></script>
<!-- jQuery Scrollbar -->
<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Kaiadmin JS -->
<script src="../assets/js/kaiadmin.min.js"></script>
<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="../assets/js/setting-demo2.js"></script>
<script>
    var lineChart = document.getElementById("lineChart").getContext("2d"),
        barChart = document.getElementById("barChart").getContext("2d"),
        pieChart = document.getElementById("pieChart").getContext("2d"),
        doughnutChart = document
            .getElementById("doughnutChart")
            .getContext("2d");

    var myLineChart = new Chart(lineChart, {
        type: "line",
        data: {
            labels: [
                "Jan",
                "Fev",
                "Mar",
                "Abr",
                "Mai",
                "Jun",
                "Jul",
                "Ago",
                "Set",
                "Out",
                "Nov",
                "Dez",
            ],
            datasets: [
                {
                    label: "Ordens de Serviço",
                    borderColor: "#1d7af3",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#1d7af3",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: "transparent",
                    fill: true,
                    borderWidth: 2,
                    data: [
                        542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900,
                    ],
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: "bottom",
                labels: {
                    padding: 10,
                    fontColor: "#1d7af3",
                },
            },
            tooltips: {
                bodySpacing: 4,
                mode: "nearest",
                intersect: 0,
                position: "nearest",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 10,
            },
            layout: {
                padding: {left: 15, right: 15, top: 15, bottom: 15},
            },
        },
    });

    var myBarChart = new Chart(barChart, {
        type: "bar",
        data: {
            labels: [
                "Jan",
                "Fev",
                "Mar",
                "Abr",
                "Mai",
                "Jun",
                "Jul",
                "Ago",
                "Set",
                "Out",
                "Nov",
                "Dez",
            ],
            datasets: [
                {
                    label: "Ordens de Serviço",
                    backgroundColor: "rgb(23, 125, 255)",
                    borderColor: "rgb(23, 125, 255)",
                    data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true,
                        },
                    },
                ],
            },
        },
    });

    var myPieChart = new Chart(pieChart, {
        type: "pie",
        data: {
            datasets: [
                {
                    data: [50, 35, 15],
                    backgroundColor: ["#1d7af3", "#f3545d", "#fdaf4b"],
                    borderWidth: 0,
                },
            ],
            labels: ["Secretaria", "Diretoria", "Escola"],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: "bottom",
                labels: {
                    fontColor: "rgb(154, 154, 154)",
                    fontSize: 11,
                    usePointStyle: true,
                    padding: 20,
                },
            },
            pieceLabel: {
                render: "percentage",
                fontColor: "white",
                fontSize: 14,
            },
            tooltips: false,
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    top: 20,
                    bottom: 20,
                },
            },
        },
    });

    var myDoughnutChart = new Chart(doughnutChart, {
        type: "doughnut",
        data: {
            datasets: [
                {
                    data: [10, 20, 30],
                    backgroundColor: ["#f3545d", "#fdaf4b", "#1d7af3"],
                },
            ],

            labels: ["Secretaria", "Diretoria", "Escola"],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: "bottom",
            },
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    top: 20,
                    bottom: 20,
                },
            },
        },
    });




    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

    // bind onClick event to all LI-tags of the legend
    var legendItems = myLegendContainer.getElementsByTagName("li");
    for (var i = 0; i < legendItems.length; i += 1) {
        legendItems[i].addEventListener("click", legendClickCallback, false);
    }

        // Função para atualizar o gráfico de linha
    function updateLineChart() {
        const inputData = document.getElementById("lineChartData").value;
        const dataArray = inputData.split(',').map(Number);

        myLineChart.data.datasets[0].data = dataArray;
        myLineChart.update();
    }

        // Função para atualizar o gráfico de barras
    function updateBarChart() {
        const inputData = document.getElementById("barChartData").value;
        const dataArray = inputData.split(',').map(Number);

        myBarChart.data.datasets[0].data = dataArray;
        myBarChart.update();
    }

        // Função para atualizar o gráfico de pizza
    function updatePieChart() {
    const inputData = document.getElementById("pieChartData").value;
    const dataArray = inputData.split(',').map(Number);

    myPieChart.data.datasets[0].data = dataArray;
    myPieChart.update();
    }

        // Função para atualizar o gráfico de rosquinha
    function updateDoughnutChart() {
    const inputData = document.getElementById("doughnutChartData").value;
    const dataArray = inputData.split(',').map(Number);

    myDoughnutChart.data.datasets[0].data = dataArray;
    myDoughnutChart.update();
    }
</script>
</body>
</html>